Data Science and Machine Learning Internship ProgramAssignment-3


Problem Statement 1: In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans.Write a Python code to perform the following operations
1.Read an integer input thatspecifies the number of highly satisfied customers
2.Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time
•Find out the Margin of Error using scipy.stats.norm.ppf•Calculate and print the confidence interval values rounded up to five decimal places and separated by a spaceNote:•Margin of Error = Critical Value * Standard Error of Statistic•Confidence Interval = Sample Statistic ± Margin of ErrorExample: Let's say 172 out of 200 customers were highly satisfied.Sample Input:172The confidence interval should be printed as -Sample Output:0.82856 0.89144

In [1]:
from scipy import stats
from math import sqrt

In [2]:
n = 200 #200customers
#Read an integer input thatspecifies the number of highly satisfied customers
x = int(input("Please Enter a number of happy customers: "))
p=x/n #proportion of happy customers
p

Please Enter a number of happy customers: 172

0.86

In [3]:
critical_value = stats.norm.ppf(.90,loc=0,scale=1)
se = sqrt((p*(1-p))/n)
marginerror = (critical_value*se).round(5)
marginerror

0.03144

In [4]:
#confidence interval
CI1=(p-marginerror).round(5)
CI1 
CI2=(p+marginerror).round(5)
CI2
print(CI1,CI2)

0.82856 0.89144

**Problem Statement 2**:
A radar unit is used to measure the speeds of cars on a motorway. The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.Write a Python code to perform the following operations:
1.Find theprobabilitythat a car picked at random is traveling at more thanXkm/hr
•Take the speedXas an input
•Printthe probability value rounded up tofour decimal places
Hint:Use Normal Distribution
.Sample Input:100
.Sample Output:0.0478

In [5]:
from scipy.stats import norm

mean=75
std=15
x=int(input())
cdf=norm.cdf(x, loc=mean, scale=std)
cdf
p=(1-cdf).round(4)
p

100

0.0478

Problem Statement 3:
Write a Python program to load the “kerala.csv”data into a DataFrame and perform the following tasks:
1.Explore the DataFrame using info()and describe()functions
2.June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more;create a Datarame with columns –“YEAR”, “JUN_GT_500”(Contains a boolean value to showwhether it rained more than 500mm in the month of June), “JUL_GT_500”(Contains a boolean value to showwhether it rained more than 500mm in the month of July),and “FLOODS”(Contains a boolean value to showwhetherit flooded that year)
3.Calculate the probability of flood given it rained more than 500mm in June (P(A|B))
4.Calculate the probability of rain more than 500mm in June,given it flooded that year (P(B|A))
5.Probability of flood given it rained more than 500mm in July
6.Probability of rain more than 500mm in July given it flooded that year (P(B|A))

In [6]:
import pandas as pd

In [7]:
!wget https://www.dropbox.com/s/9rdleol5udldxs5/kerala.csv

--2022-07-03 17:46:21--  https://www.dropbox.com/s/9rdleol5udldxs5/kerala.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.18, 2620:100:601b:18::a27d:812
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/9rdleol5udldxs5/kerala.csv [following]
--2022-07-03 17:46:22--  https://www.dropbox.com/s/raw/9rdleol5udldxs5/kerala.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com/cd/0/inline/BoYxzvskj8v_17pQviTVYQargBr28b_-oj7pWpyo3tDcUZ6RVRXLm7yiAZLQv6sjI2QbfGWiBlsA1vx0x9G0RDZSrh_jFWdTTDINIA6Obn7RPoQ4IvyLXhtqiybru1ycZz0lHLvF2Aoxj_8bcHdZ63MdzUYoNDuheIBfPNNBaQwaDA/file# [following]
--2022-07-03 17:46:22--  https://uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com/cd/0/inline/BoYxzvskj8v_17pQviTVYQargBr28b_-oj7pWpyo3tDcUZ6RVRXLm7yiAZLQv6sjI2QbfGWiBlsA1vx0x9G0RDZSrh_jFWdTTDINIA6Obn7RPoQ4IvyLXhtqiybru1ycZz0lHLvF2Aoxj_8bcHdZ63MdzUYoNDuheIBfPNNBaQwaDA/file
Resolving uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com (uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601b:15::a27d:80f
Connecting to uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com (uc3b45da6e7de0736118525d52d2.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10300 (10K) [text/plain]
Saving to: ‘kerala.csv’

kerala.csv          100%[===================>]  10.06K  --.-KB/s    in 0s

2022-07-03 17:46:24 (231 MB/s) - ‘kerala.csv’ saved [10300/10300]

In [8]:
df = pd.read_csv("kerala.csv")
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [9]:
#Explore the DataFrame using info()and describe()functions
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [10]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [11]:
new_df=pd.DataFrame()

In [12]:
#2
new_df['YEAR']=df['YEAR']
new_df['JUN_GT_500']=df['JUN'].apply(lambda x: '1' if x >500 else '0')
new_df['JUL_GT_500']=df['JUL'].apply(lambda x: '1' if x >500 else '0')
new_df['FLOODS']=df['FLOODS'].apply(lambda x: '1' if x=='YES' else '0')
new_df['count']=1

In [13]:
new_df.head()

   YEAR JUN_GT_500 JUL_GT_500 FLOODS  count
0  1901          1          1      1      1
1  1902          0          1      1      1
2  1903          1          1      1      1
3  1904          1          1      1      1
4  1905          1          1      0      1

In [14]:
pd.crosstab(new_df["FLOODS"],new_df["JUN_GT_500"])

JUN_GT_500   0   1
FLOODS
0           19  39
1            6  54

In [15]:
P_F = (6 + 54) / (6 + 54 + 19 + 39)
P_J = (39 + 54) / (6 + 54 + 19 + 39)
P_F_intersect_J = 54 / (6 + 54 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.788135593220339
P(F AND J): 0.4576271186440678

In [16]:
#Calculate the probability of flood given it rained more than 500 mm in June (P(Flood|June))
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.5806451612903226

In [17]:
# Probability of rain more than 500 mm in June given it flooded that year (P(June|Flood))
P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9000000000000001

In [18]:
# We can similarly do it for july
pd.crosstab(new_df["FLOODS"], new_df["JUL_GT_500"])

JUL_GT_500   0   1
FLOODS
0           19  39
1            3  57

In [19]:
P_F = (3 + 57) / (3 + 57 + 19 + 39)
P_J = (39 + 57) / (3 + 57 + 19 + 39)
P_F_intersect_J = 57 / (3 + 57 + 19 + 39)
print(f"P(F): {P_F}") 
print(f"P(J): {P_J}")
print(f"P(F AND J): {P_F_intersect_J}")

P(F): 0.5084745762711864
P(J): 0.8135593220338984
P(F AND J): 0.4830508474576271

In [20]:
# Now calculate probailitity of flood given it rained more than 500 mm in July
P_F_J = P_F_intersect_J / P_J
print(f"P(F|J): {P_F_J}")

P(F|J): 0.59375

In [21]:
# Probability of rain more than 500 mm in July given it flooded that year (P(B|A))
P_J_F = (P_F_J * P_J) / P_F
print(f"P(J|F): {P_J_F}")

P(J|F): 0.9500000000000002

Problem Statement 4:
Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks:
1.Convert the datasetinto DataFrameusing pandas.
2.Generate the sample size of 50and givea randomstate as 100.
3.Calculate Z-critical, Margin of Error,andConfidence Interval for alcohol at 95% significance interval on generated sample data

In [22]:
from sklearn.datasets import load_wine
import pandas as pd

In [23]:
wine = load_wine()
X = wine.data
y = wine.target
column_names = wine.feature_names
wine_data=pd.DataFrame(data=X ,columns=column_names)
wine_data.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [24]:
sample_wine_data=wine_data.sample(n=50,random_state=100)

In [29]:
#sample mean
sample_mean=sample_wine_data["alcohol"].mean()
#sample_size
sample_size=len(sample_wine_data)
#std_dev
std_dev=sample_wine_data["alcohol"].std()
#Z critical value
z_critical=stats.norm.ppf(.95)
# Margin of error = z_critical * (std_dev/sqrt(sample_size))
Margin_of_error = z_critical * (std_dev/sqrt(sample_size))
#confidence interval
confidence_interval=(sample_mean-Margin_of_error,sample_mean+Margin_of_error)

In [30]:
print("Z critical value :",z_critical)
print("\nMargin of error :",Margin_of_error)
print("\nconfidence interval :",confidence_interval)

Z critical value : 1.6448536269514722

Margin of error : 0.17880519784197366

confidence interval : (12.794794802158025, 13.152405197841974)